.texpadtmp/master_doc.log
.texpadtmp/master_doc.aux
.texpadtmp/master_doc.bbl
.texpadtmp/master_doc.lot
.texpadtmp/master_doc.toc
.texpadtmp/master_doc.lof
.texpadtmp/master_doc.synctex.gz
.texpadtmp/master_doc.out
.texpadtmp/master_doc.blg
master_doc.pdf
